<form [formGroup]="form" (ngSubmit)="query()">
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="reconciliationDate" formControlName="reconciliationDate"
            placeholder="Mutabakat Tarihi">
          <mat-datepicker-toggle matSuffix [for]="reconciliationDate"></mat-datepicker-toggle>
          <mat-datepicker #reconciliationDate></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button type="submit" color="primary">
          Sorgula
        </button>
      </td>
      <td>
        <button [disabled]="isBackDisabled()" mat-raised-button type="button" color="secondary" (click)="back()">
          Geri
        </button>
      </td>
      <td>
        <button [disabled]="isNextDisabled()" mat-raised-button type="button" color="secondary" (click)="next()">
          İleri
        </button>
      </td>
    </tr>
  </table>
</form>

<table mat-table [dataSource]="state.transactions" class="mat-elevation-z8">
  <ng-container matColumnDef="transactionId">
    <th mat-header-cell *matHeaderCellDef> İşlem No </th>
    <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
  </ng-container>

  <ng-container matColumnDef="referenceNumber">
    <th mat-header-cell *matHeaderCellDef> Referans No </th>
    <td mat-cell *matCellDef="let element"> {{element.referenceNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="transactionDateTime">
    <th mat-header-cell *matHeaderCellDef> İşlem Tarihi </th>
    <td mat-cell *matCellDef="let element"> {{element.transactionDateTime}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Miktar </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <ng-container matColumnDef="netAmount">
    <th mat-header-cell *matHeaderCellDef> Net Miktar </th>
    <td mat-cell *matCellDef="let element"> {{element.netAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="transactionType">
    <th mat-header-cell *matHeaderCellDef> İşlem Tipi </th>
    <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
  </ng-container>

  <ng-container matColumnDef="issuerBankCode">
    <th mat-header-cell *matHeaderCellDef> Gönderici Banka Kodu </th>
    <td mat-cell *matCellDef="let element"> {{element.issuerBankCode}} </td>
  </ng-container>

  <ng-container matColumnDef="acquirerBankCode">
    <th mat-header-cell *matHeaderCellDef> Alıcı Banka Kodu </th>
    <td mat-cell *matCellDef="let element"> {{element.acquirerBankCode}} </td>
  </ng-container>

  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef> Emir No </th>
    <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
  </ng-container>

  <ng-container matColumnDef="approvalCode">
    <th mat-header-cell *matHeaderCellDef> Onay Kodu </th>
    <td mat-cell *matCellDef="let element"> {{element.approvalCode}} </td>
  </ng-container>

  <ng-container matColumnDef="transactionParams">
    <th mat-header-cell *matHeaderCellDef> İşlem Parametreleri </th>
    <td mat-cell *matCellDef="let element"> {{formatTransactionParams(element.transactionParams)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>