<table mat-table [dataSource]="cardDataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="cardId">
    <th mat-header-cell *matHeaderCellDef> Kart Referans No </th>
    <td mat-cell *matCellDef="let element"> {{element.cardId}} </td>
  </ng-container>

  <ng-container matColumnDef="maskedCardNo">
    <th mat-header-cell *matHeaderCellDef> Kart Numarası </th>
    <td mat-cell *matCellDef="let element"> {{element.maskedCardNo}} </td>
  </ng-container>

  <ng-container matColumnDef="alias">
    <th mat-header-cell *matHeaderCellDef> Kart Adı </th>
    <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
  </ng-container>

  <ng-container matColumnDef="cardBrand">
    <th mat-header-cell *matHeaderCellDef> Marka </th>
    <td mat-cell *matCellDef="let element"> {{element.cardBrand}} </td>
  </ng-container>

  <ng-container matColumnDef="isDefault">
    <th mat-header-cell *matHeaderCellDef> Varsayılan </th>
    <td mat-cell *matCellDef="let element"> {{element.isDefault ? 'X' : ''}} </td>
  </ng-container>

  <ng-container matColumnDef="isExpired">
    <th mat-header-cell *matHeaderCellDef> Son Kullanma Tarihi Geçmiş </th>
    <td mat-cell *matCellDef="let element"> {{element.isExpired ? 'Evet' : 'Hayır'}} </td>
  </ng-container>

  <ng-container matColumnDef="showEulaId">
    <th mat-header-cell *matHeaderCellDef> Güncel Sözleşme </th>
    <td mat-cell *matCellDef="let element"> {{element.showEulaId ? 'Hayır' : 'Evet'}} </td>
  </ng-container>

  <ng-container matColumnDef="activationDate">
    <th mat-header-cell *matHeaderCellDef> Aktifleşme Tarihi </th>
    <td mat-cell *matCellDef="let element"> {{element.activationDate | date:'MM/dd/yyyy h:mma'}} </td>
  </ng-container>

  <ng-container matColumnDef="isThreeDValidated">
    <th mat-header-cell *matHeaderCellDef> 3D Kontrolü Yapıldı </th>
    <td mat-cell *matCellDef="let element"> {{element.isThreeDValidated ? 'Evet' : 'Hayır'}} </td>
  </ng-container>

  <ng-container matColumnDef="isOTPValidated">
    <th mat-header-cell *matHeaderCellDef> OTP Kontrolü Yapıldı </th>
    <td mat-cell *matCellDef="let element"> {{element.isOTPValidated ? 'Evet' : 'Hayır'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedCardColumns"></tr>
  <tr [ngClass]="{'selected':isCardSelected(row)}" mat-row *matRowDef="let row; columns: displayedCardColumns;"
    (click)="selectCard(row)"></tr>
</table>
<mat-paginator [pageSize]="10"></mat-paginator>