mat-radio-button {
  padding: 8px;
}

button {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

#paymentContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#paymentInfoContainer {
  width: 35%;
  align-items: center;
}

#paymentMethodContainer {
  width: 60%;
}
