<form [formGroup]="addCardForm" (ngSubmit)="addCard()">
  <table id="addCardForm">
    <tr>
      <td colspan="3">
        <mat-form-field>
          <input matInput placeholder="Kart Adı" type="text" maxlength="20" formControlName="alias">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <mat-form-field>
          <input matInput placeholder=" Kredi Kart Numarası" type="number" minlength="16" maxlength="16"
            formControlName="creditCardNo">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Son Kullanma Tarihi (Ay)" type="number" minlength="1" maxlength="2"
            formControlName="expireDateMonth">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Son Kullanma Tarihi (Yıl)" type="number" minlength="2" maxlength="2"
            formControlName="expireDateYear">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="CVC" type="number" maxlength="3" formControlName="cvcNo">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-checkbox formControlName="isDefault">Öntanımlı Olarak Ayarla</mat-checkbox>
      </td>
    </tr>
    <tr>
      <td>
        <mat-checkbox formControlName="isThreeDValidated">3D
          Güvenlikli</mat-checkbox>
      </td>
    </tr>
    <tr>
      <td>
        <mat-checkbox formControlName="isTermsOfServiceAgreed">Sözleşmeyi kabul ediyorum.</mat-checkbox>
        <button mat-button type="button" color="accent" (click)="displayTermsOfService()">
          Sözleşmeyi göster
        </button>
      </td>
    </tr>
  </table>
  <table id="actionPanel">
    <tr>
      <td>
        <button mat-raised-button type="button" color="secondary" (click)="hide()">
          İptal
        </button>
      </td>
      <td>
        <button mat-raised-button type="submit" color="primary">
          Kaydet
        </button>
      </td>
    </tr>
  </table>
</form>