<table>
  <tr>
    <td colspan="3">
      <mat-form-field>
        <input matNativeControl placeholder=" Kredi Kart Numarası" type="number" minlength="16" maxlength="16"
          [(ngModel)]="state.creditCardNo">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field>
        <input matNativeControl placeholder="Son Kullanma Tarihi (Ay)" type="number" minlength="1" maxlength="2"
          [(ngModel)]="state.expireDateMonth">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matNativeControl placeholder="Son Kullanma Tarihi (Yıl)" type="number" minlength="2" maxlength="2"
          [(ngModel)]="state.expireDateYear">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matNativeControl placeholder="CVC" type="number" maxlength="3" [(ngModel)]="state.cvcNo">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-checkbox matNativeControl [(ngModel)]="state.isThreeDValidated">3D GÜvenlikli</mat-checkbox>
    </td>
  </tr>
  <tr>
    <td>
      <mat-checkbox matNativeControl [(ngModel)]="state.isEulaSigned">Sözleşmeyi kabul ediyorum.</mat-checkbox>
      <button mat-button type="button" color="accent" (click)="displayTermsOfService()">
        Sözleşmeyi göster
      </button>
    </td>
  </tr>
</table>